<h2>Badges</h2>

<p>
  <%= link_to "New badge", new_admin_badge_path %>
</p>

<table>
	<thead>
  	<tr>
    	<th> <%= I18n.t 'badge.fields.title' %> </th>
    	<th> <%= I18n.t 'badge.fields.pic_url' %> </th>
			<th> <%= I18n.t 'badge.fields.rule' %> </th>
    	<th> <%= I18n.t 'badge.fields.criterion' %> </th>
			<th colspan="2"><%= I18n.t 'badge.fields.actions' %></th>
  	</tr> 
  </thead>
  <tbody>
		<%= render @badges %>
	</tbody>
</table>
